.Start-Screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center everything horizontally */
  height: 100vh;
  width: 100vw;
}

#start-button {
  font-size: 1.25rem;
  color: #f8f8f8;
  background-color: #af1b1b;
  border-radius: 10px;
  border: 2px solid #0f0f0f;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#start-button:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow for a hovering effect */
}
